body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar container";
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
    font-size: large;
}

.sidebar-grid {
    display: grid;
    gap: 50px;
}

.sidebar-nav {
    margin-top: 50px;
}
.sidebar-nav, .sidebar-support {
    display: grid; 
    gap: 10px
}


.header {
    grid-area: header;
    background-color: whitesmoke;
}

.container {
    grid-area: container;
    background-color: grey;
}

li {
    list-style-type: none;
}